In [1]:
#import thư viện
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [2]:
df = pd.read_csv('datasets_motels.csv')
df.head()

   id_motels  ... luotxem
0          0  ...   78796
1          1  ...    1891
2          2  ...   13095
3          3  ...   21811
4          4  ...    8011

[5 rows x 9 columns]

In [3]:
def sentiment(gia):
  if gia in range(0,1000000):
    return 'Dưới 1 triệu'
  elif gia in range(1000001,2000000):
    return '1 triệu - 2 triệu'
  else:
    return 'Trên 2 triệu'

In [4]:
df['gia1'] = df['gia'].apply(sentiment)
df

     id_motels  ...               gia1
0            0  ...       Trên 2 triệu
1            1  ...       Trên 2 triệu
2            2  ...  1 triệu - 2 triệu
3            3  ...  1 triệu - 2 triệu
4            4  ...       Trên 2 triệu
..         ...  ...                ...
403        403  ...       Dưới 1 triệu
404        404  ...       Trên 2 triệu
405        405  ...  1 triệu - 2 triệu
406        406  ...       Trên 2 triệu
407        407  ...  1 triệu - 2 triệu

[408 rows x 10 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408 entries, 0 to 407
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id_motels  408 non-null    int64
 1   tennhatro  408 non-null    object
 2   diachi     407 non-null    object
 3   toalac     408 non-null    object
 4   danhgia    408 non-null    float64
 5   gia        408 non-null    int64
 6   dientich   408 non-null    object
 7   noidung    408 non-null    object
 8   luotxem    408 non-null    int64
 9   gia1       408 non-null    object
dtypes: float64(1), int64(3), object(6)
memory usage: 32.0+ KB

In [6]:
tfidf = TfidfVectorizer()
df['gia1'] = df['gia1'].fillna('')
#Xây dựng ma trận TF-IDF bắt buộc bằng cách áp dụng phương pháp fit_transform trên tính năng tổng quan
overview_matrix = tfidf.fit_transform(df['gia1'])
#Xuất ra hình dạng của tfidf_matrix
overview_matrix.shape

(408, 3)

In [7]:
similarity_matrix = linear_kernel(overview_matrix,overview_matrix)
similarity_matrix

array([[1.        , 1.        , 0.49036696, ..., 0.49036696, 1.        ,
        0.49036696],
       [1.        , 1.        , 0.49036696, ..., 0.49036696, 1.        ,
        0.49036696],
       [0.49036696, 0.49036696, 1.        , ..., 1.        , 0.49036696,
        1.        ],
       ...,
       [0.49036696, 0.49036696, 1.        , ..., 1.        , 0.49036696,
        1.        ],
       [1.        , 1.        , 0.49036696, ..., 0.49036696, 1.        ,
        0.49036696],
       [0.49036696, 0.49036696, 1.        , ..., 1.        , 0.49036696,
        1.        ]])

In [8]:
#motel index mapping
mapping = pd.Series(df.index,index = df['gia1'])
mapping

gia1
Trên 2 triệu           0
Trên 2 triệu           1
1 triệu - 2 triệu      2
1 triệu - 2 triệu      3
Trên 2 triệu           4
                    ...
Dưới 1 triệu         403
Trên 2 triệu         404
1 triệu - 2 triệu    405
Trên 2 triệu         406
1 triệu - 2 triệu    407
Length: 408, dtype: int64

In [11]:
def recommend_motel_based_on_plot(motel_input):
  motel_index = mapping[motel_input]
  #nhận các giá trị tương tự với các nhà trọ khác
  #điểm tương tự là danh sách chỉ số và ma trận tương tự
  similarity_score = list(enumerate(similarity_matrix[motel_index]))
  #sắp xếp theo thứ tự giảm dần điểm tương tự của nhà trọ được nhập với tất cả các nhà trọ khác
  similarity_score = sorted(similarity_score, key=lambda x: x[0], reverse=True)
  # Nhận điểm của 5 nhà nghỉ giống nhau nhất. Bỏ qua nhà nghỉ đầu tiên.
  similarity_score = similarity_score[0:5]
  #trả lại tên nhà nghỉ bằng cách sử dụng chuỗi ánh xạ
  motel_indices = [i[0] for i in similarity_score]
  return (df[['tennhatro','gia']].iloc[motel_indices])

In [12]:
recommend_motel_based_on_plot('Dưới 1 triệu')

                                tennhatro      gia
126  Tìm nam ở ghép sinh viên hoặc đi làm   800000
125    Tim nam ở ghép 700k chưa điện nước   700000
124    Cần nữ ở ghép giá 650k/tháng/người  1200000
123     Xin ở ghép, do chưa có phòng trọ.  1500000
122                             Bình Thủy   800000

In [13]:
def sentiment(luotxem):
  if luotxem in range(0,1000):
    return 'Thấp'
  elif luotxem in range(1001,10000):
    return 'Trung Bình'
  elif luotxem in range(10001,50000):
    return 'Khá'
  elif luotxem in range(50001,70000):
    return 'Tốt'
  else:
    return 'Rất tốt' 

df['luotxem1'] = df['luotxem'].apply(sentiment)
df.head()

   id_motels  ...    luotxem1
0          0  ...     Rất tốt
1          1  ...  Trung Bình
2          2  ...         Khá
3          3  ...         Khá
4          4  ...  Trung Bình

[5 rows x 11 columns]

In [14]:
tfidf = TfidfVectorizer()
df['luotxem1'] = df['luotxem1'].fillna('')

overview_matrix = tfidf.fit_transform(df['luotxem1'])

overview_matrix.shape

similarity_matrix = linear_kernel(overview_matrix,overview_matrix)
similarity_matrix


mapping = pd.Series(df.index,index = df['luotxem1'])


def recommend_motel_based_on_plot(motel_input):
  motel_index = mapping[motel_input]

  similarity_score = list(enumerate(similarity_matrix[motel_index]))

  similarity_score = sorted(similarity_score, key=lambda x: x[0], reverse=True)
  
  similarity_score = similarity_score[0:5]
  
  motel_indices = [i[0] for i in similarity_score]
  return (df[['tennhatro','gia']].iloc[motel_indices])

In [15]:
recommend_motel_based_on_plot('Tốt')

                                            tennhatro      gia
27     Phòng trọ sinh viên giá rẻ địa chỉ 286/13 CMT8   700000
26  Cho thuê phòng trọ đầy đủ tiện nghi tại trung ...  1500000
25  Cho thuê phòng trọ đầy đủ tiện nghi tại trung ...  1500000
24  Cho thuê phòng trọ đầy đủ tiện nghi tại trung ...  1500000
23  Cho thuê phòng trọ sinh viên giá 700. Địa chỉ:...   700000